app = 'josh-proxy'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[mounts]
  source = 'josh_data'
  destination = '/data/git'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
