version: '3.8'

services:
  searxng:
    image: docker.io/searxng/searxng:latest
    container_name: searxng
    ports:
      - "8888:8080"
    volumes:
      - "./config/:/etc/searxng/"
      - "./data/:/var/cache/searxng/"
    restart: unless-stopped